body
{
	font-family: 'Roboto Mono', monospace;
/*	background-color: #4158D0;*/
	height: 100vh;

/*	background-image : url('https://source.unsplash.com/1600x900/?weather');*/
}

.container
{
	display: flex;
  flex-direction:column; 
}

.top_section{
	border: 5px solid;
	border-radius: 40px;
	margin: 10px;
}

.logo_search{
  display: flex;
}

.header_img{
	padding: 0.5em;
}

.head{
	font-size: 50px;
	margin-left: 10px;
}

.search_bar{
	margin-top: 6.5em;
	margin-left: 20px;
	width: 40em;
	height: 3em;
	padding: 1px 15px;
	border: 2px solid;
	border-radius: 20px;
}

button{
	margin-top: 6.5em;
	width: 3.5em;
	height: 3.5em;
	margin-left: 1em;
	border-radius: 50%;
	outline: none;
}

ul{
	list-style-type: none;
	margin: none;
}

li{
	float: left;
	margin-bottom: 20px;
}

a{
	display: block;
	padding: 10px
}

.container_section
{
	display: inline-flex;
}

.main_section
{
	border-radius: 25px;
	border: 5px solid;
    text-align: center;
	margin : 10px;
	width: 70em;
	padding: 10px; 
}

.left_section
{
	border-radius: 25px;
	border: 5px solid;
  	text-align: center;
	margin : 10px;
	width: 40em;
}

.below_section
{
	border-radius: 25px;
	border: 5px solid;
	margin : 10px;
	padding: 1em;
}

.display_days{
	display: flex;
	padding :em;
	 /*position: fixed;*/
    overflow-x: scroll;
    top: 0;
    bottom: 0;
}

.day_one{
  border: 4px solid;
	border-radius: 25px;
	padding: 0.5em;
	margin: 1.2em;
}

.day_two{
  border: 4px solid;
	border-radius: 25px;
	padding: 0.5em;
	margin: 1.2em;
}

.day_three{
  border: 4px solid;
	border-radius: 25px;
	padding: 0.5em;
	margin: 1.2em;
}

.day_four{
  border: 4px solid;
	border-radius: 25px;
	padding: 0.5em;
	margin: 1.2em;
}

.day_five{
  border: 4px solid;
	border-radius: 25px;
	padding: 0.5em;
	margin: 1.2em;
}

.day_six{
  border: 4px solid;
	border-radius: 25px;
	padding: 0.5em;
	margin: 1.2em;
}

.day_seven{
  border: 4px solid;
	border-radius: 25px;
	padding: 0.5em;
	margin: 1.2em;
}