
header
{
	display: inline-flex;
	background-color: green;
	text-align: left;
	width:100%;
}
.content{
	width:60%	;
}
#qoute
{
	text-align:left;
	width: 50pc;
}

h1
{
	width:50pc;
}

.nav_top
{
	background-color: red;
	text-align:right;
	width:70%;
}

section
{
	background-color: yellow;
	display: grid;
}

.right_section
{
	border-radius: 25px;
	background-color: yellowgreen;
	margin:10px;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid;
	width: 20%;
	height:80vh;
	float: right;
}


.left_section
{
	border-radius: 25px;
	background-color: yellowgreen;
	margin:10px;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid;
	width: 20%;
	height:80vh;
	float: left;
}


.mid_position
{
	border-radius: 25px;
	background-color: hotpink;
	margin:10px;
	/*text-align: center;*/
	box-sizing: border-box;
	border: 2px solid;
	width: inherit;
	height:80vh;
}

footer{
	background-color: yellow;
}