body
{
		background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
		height: 100vh;

}

header
{
	display: inline-flex;
	text-align: left;
	width: 100%;
	orientation: landscape;
	box-sizing: border-box;
	border: 4px solid;
	border-radius: 25px;
	background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
/*	background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5))*/
}

#header_logo
{
	align-self: flex-start;
}

h1
{
	width:60%;
	margin-left: 20px;
}

.navigation_bar_header
{
	align-self:flex-end;
	align-self: center;
	text-align:right;
}

li
{
	margin-left: 10px;
	display: inline;
}

.history_table
{
	box-sizing: border-box;
	border-radius: 25px;
	border: 4px solid;
	height: auto;
	width: 100 %;
}